<ul class="nav nav-tabs">
  
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active current" routerLink="home"
    >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active current" routerLink="post">Post</a>
  </li>
  
  <li class="nav-item" *ngIf="!isLogin">
    <a class="nav-link " routerLinkActive="active current" routerLink="login">Login</a>
  </li>
  <li class="nav-item"  *ngIf="isLogin">
    <a class="nav-link " routerLinkActive="active current" (click)="logout()">Logout</a>
  </li>

  
</ul>