<ul class="nav nav-tabs">
  
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active current" routerLink="home"
    >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active current" routerLink="post">Post</a>
  </li>

  <li class="nav-item" >
    <a class="nav-link " routerLinkActive="active current" routerLink="admin">Admin</a>
  </li>
  
  <li class="nav-item" *ngIf="!service.isLogin()">
    <a class="nav-link " routerLinkActive="active current" routerLink="login">Login</a>
  </li>
  <li class="nav-item"  *ngIf="service.isLogin()">
    <a class="nav-link " routerLinkActive="active current" (click)="service.logout()">Logout</a>
  </li>
 

  
</ul>