
 <form [formGroup]="form" class="container" (ngSubmit)="update()">
 
<div class="form-group">
    <label for="header">Header</label>
    <input 
        formControlName="header"
        id="header" 
        type="text" 
        class="form-control">
</div>
      
<div class="form-group">
    <label for="body">body</label>
    <textarea 
        formControlName="body"
        id="body" 
        cols="30" rows="10"
        class="form-control">
    </textarea>
</div>

<button class="btn btn-primary" [disabled]="!form.valid" type="submit">Sign Up</button>

</form>
